<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>GB-JS-LVL2-Lesson1</title>
    <link rel="stylesheet" href="assets/css/main.css">
</head>
<body>
<div id="root">
    <header>
        <div class="wrapper header-wrapper">
            <div class="logo">LOGO</div>
            <div class="main-menu">MENU</div>
            <input @input="searchItems" class="header-search" placeholder="Найти товары" @value="searchValue" />
            <div @click="openCloseCart" class="cart-button" type="button">Корзина - {{cartList.length}}<p></p></div>
        </div>
    </header>
    <main>
        <div class="products-list">
            <div class="wrapper products-wrapper">
                <span v-if="filteredList.length == 0" style="position:absolute; top: 50%; left: 50%">Продукты отсутсвуют</span>
                <div class="product-item" v-for="item in filteredList">
                    <div class="product-item__image"><img src="https://picsum.photos/200" alt="image"></div>
                    <h3 class="product-item__title">{{item.product_name}}</h3>
                    <p class="product-item__price">Price: {{item.price}} USD</p>
                    <div class="product-item__cart-btn cart-button" v-bind:class="{disabled: isCart(item.id_product)}" @click="!isCart(item.id_product) ? addCart(item.id_product) : removeCart(item.id_product)">
                        <span>{{isCart(item.id_product) ? 'Удалить из корзины' : 'Добавить в корзину'}}</span>
                        <div class="cssload-container hide">
                            <ul class="cssload-flex-container">
                                <li>
                                    <span class="cssload-loading"></span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div v-if="productsList.length <= 0" class="loader">
                <span class="dot"></span>
                <span class="dot"></span>
                <span class="dot"></span>
            </div>

        </div>
        <div v-bind:class="{close: cartIsClosed}" class="modalDialog">
            <div style="width: 800px; padding: 25px" v-if="cartList.length > 0">
                <span style='cursor: pointer' @click="openCloseCart">Закрыть</span>
                <div style="margin-top: 50px" class="wrapper products-wrapper" >
                <div class="carts-item" v-for="item in cartList">
                    <div class="carts-item__image"><img src="https://picsum.photos/200" alt="image"></div>
                    <h3 class="carts-item__title">{{item.product_name}}</h3>
                    <p class="carts-item__price">Price: {{item.price}} USD</p>
                    <div class="carts-item__cart-btn cart-button" v-bind:class="{disabled: isCart(item.id_product)}" @click="!isCart(item.id_product) ? addCart(item.id_product) : removeCart(item.id_product)">
                        <span>{{isCart(item.id_product) ? 'Удалить из корзины' : 'Добавить в корзину'}}</span>
                    </div>
                </div>
            </div>
            </div>
            <div v-if="cartList.length <= 0" style="width: 400px; height: 400px; display: flex; flex-direction: column">
                <span style="cursor: pointer" @click="openCloseCart">Закрыть</span>
                <div style="width: 100%;height: 100%; display: flex; justify-content: center; align-items: center">Корзина пуста</div>
            </div>

        </div>

    </main>
</div>
<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script src="assets/js/main_vue.js"></script>
</body>
</html>
